@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: top;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #f5f5f5;
}
.progress .girl {
  position: absolute;
  top: 0;
  left: 0%;
  width: 70px;
  height: 70px;
  background: url(../img/walking_girl.gif) no-repeat 50% / cover;
}
.wrap {
  width: 50%;
  margin: 50px auto;
  border: 10px solid #000;
  padding: 50px;
  line-height: 2;
}
