@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}
body {
  line-height: 1.6;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
}
.inner {
  width: 80%;
  margin: 0 auto;
}
header nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2rem;
  color: #fff;
}
.gnb {
  display: flex;
}
.gnb li a {
  display: block;
  padding: 10px 15px;
  color: #fff;
}
footer {
  background: #000;
  text-align: center;
  color: #fff;
  padding: 50px;
}

.indicator {
  position: fixed;
  top: 50%;
  right: 5%;
  transform: rotateY(-50%);
}
.indicator li {
  margin: 20px 0;
}
.indicator li a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  text-indent: -999px;
  overflow: hidden;
}
.indicator li.on a {
  background: #000;
}
main > section {
  height: 100vh;
  padding: 150px 100px 50px;
}
main > section.section1 {
  background: red;
}
main > section.section2 {
  background: orange;
}
main > section.section3 {
  background: yellow;
}
main > section.section4 {
  background: green;
}

.btn-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 70px;
  height: 70px;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
